<div class="col-md-10 offset-md-1">
  <h1 class="text-left display-4 mt-5 mb-5">Add <%= type.upcase_first %></h1>
  <%= form_for @content do |form| %>
    <% if(@content.errors.any?) %>
      <div class="alert alert-danger pb-0 pt-0">
        <ul class="list-unstyled mb-2">
        <% @content.errors.full_messages.each do |message| %>
          <li class="mt-2"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <fieldset class="form-group row d-none">
      <%= form.label :category, class:'col-md-3 col-form-label'%>
      <div class="col-md-9">
        <%= form.text_field :category, value: type %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label :name, class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.text_field :name, class: 'form-control', placeholder: placeholder %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label :start_date, class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.date_field :start_date, class: 'form-control'%>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label :end_date, class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.date_field :end_date, class: 'form-control'%>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label :tags, class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.text_field :tags, class: 'form-control'%>
        <small class="form-text text-muted">Please put a comma , in between each tags.</small>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label 'Link to ' + watching_or_reading, class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.text_field :link_to_watch_or_read, class: 'form-control'%>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label :description, class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.text_area :description, class: 'form-control'%>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label :image, class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.text_field :image, class: 'form-control'%>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label season_or_volume + ' Number', class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.text_field :volume_or_season_number, class: 'form-control'%>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label episode_or_chapter + ' Number', class:'col-form-label'%>
      </div>
      <div class="col-md-9">
        <%= form.text_field :episode_or_chapter_number, class: 'form-control'%>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label 'Genres', class:' col-form-label'%>
      </div>
      <div class="col-md-9 row m-0">
        <% for genre in Genre.all.order(name: :asc) %>
          <div class="col-md-3 p-0 mt-2">
            <% if(params[:genres_id].nil?) %>
              <%= check_box_tag "genres_id[]", genre.id, false %> 
            <% else %>
              <% if(Genre.find(params[:genres_id]).include?(genre)) %>
                <%= check_box_tag "genres_id[]", genre.id, true %> 
              <% else %>
                <%= check_box_tag "genres_id[]", genre.id, false %> 
              <% end %>
            <% end %>
            <%= genre.name %> 
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset class="form-group row">
      <div class="col-md-3">
        <%= form.label 'Characters', class:' col-form-label'%>
      </div>
      <div class="col-md-9 row grid-container-for-5 m-0">
        <% for character in Character.all.order(name: :asc) %>
          <div class=" p-0 mt-3 grid-item">
            <%= image_tag(character.avatar_url, alt: "Image for #{character.name}", class:'w-75 h-75 round-edge') %>
            <div>
              <% if(params[:character_id].nil?) %>
                <%= check_box_tag "character_id[]", character.id, false %> 
              <% else %>
                <% if(Character.find(params[:character_id]).include?(character)) %>
                  <%= check_box_tag "character_id[]", character.id, true %> 
                <% else %>
                  <%= check_box_tag "character_id[]", character.id, false %> 
                <% end %>
              <% end %>
            <%= character.name %> <br>
            <div class="ml-3"><%= character.surname %> </div>
            </div>
          </div>
        <% end %>
      </div>
    </fieldset>

    <fieldset class="form-group row mt-3">
      <%= link_to translate('cancel'), add_path, class:'col-md-3 col-form-label' %>
      <div class="col-md-9">
        <%= form.submit 'Create ' + type.upcase_first, class:'btn btn-first btn-block col-md-12'%>
      </div>
    </fieldset>
  <% end %>
</div>
