<div class="d-flex flex-column pl-2">
  <!-- first part of information about the content -->
  <div class="mt-4 mb-4 row">
    <div class="col-md-5 pr-0">
      <%= image_tag @content.image, class: 'card-img', alt: "Image for #{@content.name}" %>
    </div>
    <div class="col-md-7 d-flex pl-0">
      <div class="card-body d-flex flex-column p-0 pl-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h3 class="d-flex card-title m-0"><%= @content.name %></h3>
          <% if (logged_in?) %>
            <div class="d-flex flex-row-reverse">
              <div>
                <%= form_tag(user_favorites_path(current_user)) do %>
                  <%= hidden_field_tag('content_id', @content.id)%>
                  <%= button_tag('Add My List', class: 'btn btn-outline-secondary text-right', type:'submit', disabled: @disable_add_favorite) %>                
                <% end %>
              </div>
              <% if(is_admin?) %>
              <div >
                <%= link_to 'Edit', edit_content_path(@content), class: 'btn btn-outline-secondary text-right mr-3' %>
              </div>
              <% end %>
              </div>
            <% end %>
          </div>

        <div class="d-flex justify-content-between">
          <% if(!@content.start_date.blank?) %>
            <p class="mb-1">Start Date: <%= @content.start_date.strftime("%e %b %Y") %></p>
          <% end %>
          <% if(!@content.end_date.blank?) %>
            <p class="mb-1">End Date: <%= @content.end_date.strftime("%e %b %Y") %></p>
          <% end %>
        </div>
        <% if(!@content.link_to_watch_or_read.blank?) %>
          <p>For <%= watching_or_reading %> click <%= link_to 'here.', @content.link_to_watch_or_read, target: :_blank, class:'pl-0' %></p>
        <% end %>
        <p class="mt-auto mb-0 pre-wrap" id="description_content"><%= @content.description%></p>
      </div>
    </div>
  </div>

  <!-- second part of information about the content -->
  <div class="row">
    <div class="col-md-4 p-0 mb-4">
      <div id="content_rating" class="d-flex flex-row">
        <% if (@content.rating_number > 3)%>
          <strong class="col-md-7"> Rating </strong> <%= @content.rating %>
        <% else %>
          <strong class="col-md-12"> Not enough rating </strong> 
        <% end %>
      </div>
      <div  class="d-flex flex-row mt-3">
        <strong class="col-md-7"><%= episode_or_chapter %> Number</strong> <%= @content.episode_or_chapter_number %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7"><%= season_or_volume %> Number</strong> <%= @content.volume_or_season_number %>
      </div>
      <% if(@content.category == 'anime') %>
        <div class="d-flex flex-row mt-3">
          <strong class="col-md-7">Season</strong>
          <% if( 2 < @content.start_date.month && @content.start_date.month < 6) %>
            Spring 
          <% elsif(@content.start_date.month < 9) %>
            Summer
          <% elsif(@content.start_date.month < 12) %>
            Fall
          <% else %>
            Winter
          <% end %>
          <%= @content.start_date.year %>
        </div>
      <% end %>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Status</strong>
          <% if(@content.start_date) %> 
            <% if(@content.end_date) %>
              Finished
            <% else %>
              Airing
            <% end %>
          <% else %>
            Coming soon
          <% end %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Tags</strong> <%= @content.tags %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Genres</strong> 
        <% @content.categories.all.order(name: :asc).each do |genre| %>
          <% if (@content.categories.all.order(name: :asc).last == genre) %>
            <%= genre.name %> 
          <% else %>
            <%= genre.name + ',' %> 
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- displaying characters of the content -->
    <div class="col-md-8 pb-3">
      <label class="col-md-3 pt-0 pl-0 col-form-label font-weight-bold">Characters</label>
      <% if (!@content.characters.empty?)%>
        <div class="grid-container-for-4 margin-top-1">
          <% @content.characters.each do |character| %>
            <div class="grid-item border mr-2">
              <div class="flex content-center">
                <%= link_to image_tag(character.avatar_url, alt: "Avatar for #{character.name}", class:'w-100'), character_path(Character.find(character.id)) %>
              </div>
              <div class="text-align-center margin-top-auto">
                <%= link_to character.name, character_path(character) %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %> 
    </div>
  </div>
</div>

<!-- comment and review & rating tab -->
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item show active" role="presentation">
    <a class="nav-link" id="tab_comment" data-toggle="tab" role="tab" aria-controls="comment" aria-selected="true" >Comment</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab_review" data-toggle="tab" role="tab" aria-controls="review" aria-selected="false">Review & Rating</a>
  </li>
</ul>

<div class="tab-content p-3">
  <!-- comment tab -->
  <div id="comment" class="tab-pane show active" role="tabpanel">
    <!-- displaying comments if the content has any -->
    <% if ( !@content.comments.empty?) %>
      <% @content.comments.order(created_at: :asc).each do |comment| %>
        <div id="comment-<%= comment.id %>">
          <div class="d-flex flex-row mt-4">
            <div class="col-md-1 p-0 mr-3">
              <%= link_to image_tag(comment.user.avatar, alt: "Avatar for #{comment.user.name}", class: 'card-img'), user_path(comment.user), class:'p-0' %>
            </div>
            <div class="flex-fill pl-3 border-left">
              <div class="d-flex row justify-content-between mb-2">
                <p class="ml-3 mb-0 align-self-center text-monospace"><%= link_to comment.user.name, user_path(comment.user), class:'p-0 text-monospace' %></p>
                <div>
                  <small class="mr-3 text-muted"><%= comment.created_at.strftime("%e %B %Y at %k:%M") %></small>

                  <!-- deleting the comment -->
                  <% if (logged_in?) %>
                    <% if(current_user == comment.user || is_admin?) %>
                      <%= link_to delete_comment_path(comment), remote: true do %>
                        <svg class="icon mr-3" role="presentation">
                          <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#delete" ) %>"></use>
                        </svg>
                      <% end %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <p id="comment<%= comment.id %>" class="pre-wrap"><%= comment.comment_body %></p>

              <!-- updating current comment -->
              <div id="update_comment<%= comment.id %>" class="d-none">
                <%= form_for([@content, comment], remote: true) do |form| %>
                  <fieldset class="row flex-fill pl-3 mr-3">
                      <%= form.text_area :comment_body, class: 'form-control', value: comment.comment_body, rows: 4 %>
                  </fieldset>
                  <fieldset class="d-flex justify-content-end">
                    <%= form.submit 'Update Comment', class: 'btn btn-white mt-2' %>
                  </fieldset>
                <% end %>
              </div>
              
              <!-- icons of the comment -->
              <% if (logged_in? && !comment.user.is_blocked) %>
                <div id="icons<%= comment.id %>" class="d-flex justify-content-end align-items-center">
                    <svg id="reply<%= comment.id %>" class="icon ml-2 mt-1" role="presentation">
                      <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#reply") %> "></use>
                    </svg>
                  <% if( current_user != comment.user) %>
                    <% unless(current_user.reports.ids.include?(comment.id) && !is_admin?) %>
                      <%= form_tag(user_reports_path(comment.id)) do %>
                        <%= hidden_field_tag('comment_id', comment.id)%>
                          <% if all_reports.include?(comment) %>
                            <svg id="report<%= comment.id %>" class="icon ml-2" role="presentation">
                              <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#reportDanger" ) %>"></use>
                            </svg>
                          <% else %>
                            <svg id="report<%= comment.id %>" class="icon ml-2" role="presentation">
                              <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#report" ) %>"></use>
                            </svg>
                          <% end %>
                        <%= button_tag id:'submit_report' + comment.id.to_s, class:'d-none'%>
                      <% end %>
                    <% end %>
                    <% if(did_user_voted_this_comment(comment) == false ) %>
                      <%= link_to content_comment_votes_path(@content, comment, :vote_type=>'down'),method: :post, class:'p-0' do%>
                        <svg id="downvote" class="icon ml-2" role="presentation">
                          <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#downvote" ) %>"></use>
                        </svg>
                      <% end %>
                      <%= link_to content_comment_votes_path(@content, comment, :vote_type=>'up'),method: :post, class:'p-0' do%>
                        <svg id="upvote" class="icon ml-2" role="presentation">
                          <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#upvote" ) %>"></use>
                        </svg>
                      <% end %>
                    <% else %>
                      <% if (did_user_voted_this_comment(comment).vote_type == 'down') %>
                        <svg id="filled-downvote" class="icon ml-2 mt-1" role="presentation">
                          <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#filled-downvote" ) %>"></use>
                        </svg>
                        <%= link_to content_comment_vote_path(@content, comment, did_user_voted_this_comment(comment)),method: :patch, class:'p-0' do%>
                          <svg id="upvote" class="icon ml-2" role="presentation">
                            <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#upvote" ) %>"></use>
                          </svg>
                        <% end %>
                      <% else %>
                        <%= link_to content_comment_vote_path(@content, comment, did_user_voted_this_comment(comment)),method: :patch, class:'p-0' do%>
                          <svg id="downvote" class="icon ml-2" role="presentation">
                            <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#downvote" ) %>"></use>
                          </svg>
                        <% end %>
                        <svg id="filled-upvote" class="icon ml-2 mt-1" role="presentation">
                          <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#filled-upvote" ) %>"></use>
                        </svg>
                      <% end %>
                    <% end %>
                  <% end %>
                  <% if(current_user == comment.user) %>
                    <svg id="edit<%= comment.id %>" class="icon ml-2 mt-1" role="presentation">
                      <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#edit" ) %>"></use>
                    </svg>
                  <% end %>
                </div>
              <% end %>

              

              
              <!-- displaying replies if the comment has any -->
              <% if ( !comment.replies.empty?) %>
                <div id="border-between-comment-reply" class="border-bottom mt-3"></div>
                <% comment.replies.order(created_at: :asc).each do |reply| %>
                  <div id="reply-<%= reply.id %>">
                    <div class="flex-fill d-flex justify-content-end mt-3 p-0">
                      <div class="col-md-1 p-0 mr-4">
                        <%= link_to image_tag(reply.user.avatar, alt: "Avatar for #{reply.user.name}", class: 'card-img'), user_path(reply.user) %>
                      </div>
                      <div class="flex-fill pl-3 border-left">
                        <div class="d-flex row justify-content-between mb-2">
                          <p class="ml-3 mb-0 align-self-center"><%= link_to reply.user.name, user_path(reply.user), class:'p-0 text-monospace' %></p>
                          <div>
                            <small class="mr-3 text-muted"><%= reply.created_at.strftime("%e %B %Y at %k:%M") %></small>
                            <% if(logged_in?) %>
                              <% if(current_user == reply.user || is_admin?) %>
                                <%= link_to delete_reply_path(reply), remote: true do %>
                                  <svg class="icon icon-small mr-3" role="presentation">
                                    <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#delete" ) %>"></use>
                                  </svg>
                                <% end %>
                              <% end %>
                            <% end %>
                          </div>
                        </div>
                        <p><%= reply.reply_body %></p>
                      </div>
                    </div>
                    <% if(reply != comment.replies.last) %>
                      <div class="border-bottom mt-3"></div>
                    <% end %>
                  </div>
                <% end %>
              <% end %>

              <!-- adding a reply to comment -->
              <% if (logged_in?) %>
                <div id="write_reply<%= comment.id %>" class="d-none mt-3">
                  <%= form_for([@content, comment, comment.replies.build], remote: true) do |form| %>
                    <fieldset class="ml-2">
                      <%= form.text_area(:reply_body, class: 'form-control mb-2', rows: 3) %>
                    </fieldset>
                    <fieldset class="d-flex justify-content-end">
                      <%= form.submit 'Add Reply', class: 'btn btn-white' %>
                    </fieldset>
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="border-bottom mt-4"></div>
      <% end %>
    <% else %>
      <h4 class="mt-3">No comments has been added to <%=@content.name %> so far!</h4>
    <% end %>

    <!-- adding new comment -->
    <% if (logged_in?) %>
      <div id="adding_comment" class="d-flex flex-row mt-3">
        <div class="flex-fill col-md-12 pr-0">
          <div class="row no-gutters">
            <div class="col-6 col-md-1"></div>
            <p id='add_your_comment_text' class="text-muted mt-2 ml-3">Add your own comment</p>
          </div>
          <%= form_for([@content, @content.comments.build], remote: true) do |form| %>

            <fieldset class="row">
              <div class="col-md-1 p-0 mr-3 mt-1">
                <%= image_tag current_user.avatar, class: 'card-img p-0 w-100', alt: "Avatar for #{current_user.name}" %>
              </div>
              <div class="flex-fill border-left pl-3 mr-3">
                <%= form.text_area(:comment_body, class: 'form-control pre-wrap', rows: 4, autocomplete: 'off') %>
              </div>
            </fieldset>
            <fieldset class="d-flex justify-content-end">
              <%= form.submit class: 'btn btn-white mt-2' %>
            </fieldset>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- review & rating tab -->
  <div class="tab-pane fade" id="review" role="tabpanel">
    <!-- displaying reviews & ratings if the content has any -->
    <% if ( !@content.reviews.empty? ) %>
      <% @content.reviews.order(created_at: :asc).each do |review| %>
        <div id="review-<%= review.id %>" class="d-flex flex-row mt-3">
          <div class="col-md-1 p-0 mr-3">
            <%= link_to image_tag(review.user.avatar, alt: "Avatar for #{review.user.name}", class: 'card-img'), user_path(review.user), class:'p-0' %>
          </div>
          <div class="flex-fill pl-3 border-left">
            <div class="d-flex row justify-content-between mb-2">
              <p class="ml-3 mb-0 align-self-center"><%= link_to review.user.name, user_path(review.user), class:'p-0 text-monospace' %></p>

              <div>
                <small class="mr-3 text-muted"><%= review.created_at.strftime("%e %B %Y at %k:%M") %></small>
                <!-- deleting the review -->
                <% if (logged_in?) %>
                  <% if(current_user == review.user || is_admin?) %>
                    <%= link_to content_review_path(@content, review), remote:true, method: :delete do %>
                      <svg class="icon mr-3" role="presentation">
                        <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#delete" ) %>"></use>
                      </svg>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <div class="row mt-3">
              <% unless ( review.rating.nil? ) %>
                <div class="col-md-10 flex-fill pl-3 m-0 border-right">
              <% else %>
                <div class="mr-4 flex-fill pl-3 m-0">
              <% end %>
                <p id="review<%= review.id %>"><%= review.review_body %></p>
              </div>
              <% unless ( review.rating.nil? ) %>
                <div class="col-md-2 pl-3 align-self-center">
                  <p class="text-align-center mr-3"><%= review.rating %></p>
                </div>
              <% end %>
            </div>
            <div class="row justify-content-start">
              <small class="ml-3"><%= review.categories %></small>
            </div>
          </div>
        </div>
        <div class="border-bottom mt-4"></div>
      <% end %>
    <% else %>
      <h4 class="mt-3">No review has been made to <%=@content.name %> so far!</h4>
    <% end %>

    <!-- adding new review & rating -->
    <% if (logged_in?) %>
      <div id="adding_review" class="d-flex flex-row mt-3">
        <div class="flex-fill col-md-12 pr-0">
          <div class="row no-gutters">
            <div class="col-6 col-md-1"></div>
            <p id='add_your_review_text' class="text-muted mt-2 ml-3">Share your thoughts with the community about the <%= @content.category %></p>
          </div>
          <%= form_for([@content, @content.reviews.build], remote: true) do |form| %>
            <fieldset class="row">
              <div class="col-md-1 p-0 mr-3 mb-auto align-self-center">
                <%= image_tag current_user.avatar, class: 'card-img p-0 w-100', alt: "Avatar for #{current_user.name}" %>
              </div>
              <div class="flex-fill border-left pl-3 mr-3">
                <% if ((@content.reviews.select { |review| (review.user_id == current_user.id) && !review.rating.nil? }).length == 0 ) %>
                  <div id="rating_radio_buttons" class="row ml-1 mb-2 align-item-center">
                    <p class="mb-0 col-md-1 p-0">Rating: </p>
                      <div class="col-md-11 grid-container-for-5">
                        <% for x in [1, 2, 3, 4, 5, 6, 7, 8, 9 , 10] %>
                          <div class="col-md-1 p-0 d-flex  text-align-center">
                            <%= form.radio_button "rating", x %>  
                            <div class="ml-2 mt-n1">
                              <%= x %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </div>
                <% end %>
                
                <div id="review_categories" class="p-0 ml-1 row mt-3 mb-3">
                  <p class="mb-0 col-md-1 p-0">Category: </p>
                  <div id='category_checkboxes' class="col-md-11 grid-container-for-5">
                    <% for category in ['General', 'News', 'Visual', 'Anime', 'Manga', 'Music', 'Release Discussion'] %>
                      <div class="mt-n1 d-flex align-items-center">
                        <%= check_box_tag "categories[]", category, false, class:'mt-n1' %> 
                        <div class="ml-2 mt-n1">
                          <%= category %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                </div>
                <%= form.text_area(:review_body, class: 'form-control', rows: 3) %>
              </div>
            </fieldset>
            <fieldset class="d-flex justify-content-end mt-2">
              <%= form.submit class: 'btn btn-white mt-2' %>
            </fieldset>
          <% end %>
        </div>
      </div>

      
    <% end %>   
  </div>
</div>
