<div class="d-flex flex-column pl-2">
  <div class="mt-4 mb-4 row">
    <div class="col-md-5 pr-0">
      <%= image_tag @content.image, class: 'card-img', alt: "Avatar for #{@content.name}" %>
    </div>
    <div class="col-md-7 d-flex pl-0">
      <div class="card-body d-flex flex-column p-0 pl-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h3 class="d-flex card-title m-0"><%= @content.name %></h3>
          <% if(is_admin?) %>
          <div class="d-flex flex-row-reverse">
            <%= link_to 'Edit', edit_content_path(@content), class: 'btn btn-outline-secondary text-right mr-1' %>
          </div>
          <% end %>
        </div>

        <div class="d-flex justify-content-between">
          <% if(!@content.start_date.blank?) %>
            <p class="mb-1">Start Date: <%= @content.start_date.strftime("%e %b %Y") %></p>
          <% end %>
          <% if(!@content.end_date.blank?) %>
            <p class="mb-1">End Date: <%= @content.end_date.strftime("%e %b %Y") %></p>
          <% end %>
        </div>
        <% if(!@content.link_to_watch_or_read.blank?) %>
          <p>For <%= watching_or_reading %> click <%= link_to 'here.', @content.link_to_watch_or_read, target: :_blank, class:'pl-0' %></p>
        <% end %>
        <p class="mt-auto mb-0" id="description_content"><%= @content.description%></p>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-md-4 p-0">
      <div  class="d-flex flex-row">
        <strong class="col-md-7"><%= episode_or_chapter %> Number</strong> <%= @content.episode_or_chapter_number %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7"><%= season_or_volume %> Number</strong> <%= @content.volume_or_season_number %>
      </div>
      <% if(@content.category == 'anime') %>
        <div class="d-flex flex-row mt-3">
          <strong class="col-md-7">Season</strong>
          <% if( 2 < @content.start_date.month && @content.start_date.month < 6) %>
            Spring 
          <% elsif(@content.start_date.month < 9) %>
            Summer
          <% elsif(@content.start_date.month < 12) %>
            Fall
          <% else %>
            Winter
          <% end %>
          <%= @content.start_date.year %>
        </div>
      <% end %>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Status</strong>
          <% if(@content.start_date) %> 
            <% if(@content.end_date) %>
              Finished
            <% else %>
              Airing
            <% end %>
          <% else %>
            Coming soon
          <% end %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Tags</strong> <%= @content.tags %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Genres</strong> 
        <% @content.categories.all.order(name: :asc).each do |genre| %>
          <% if (@content.categories.all.order(name: :asc).last == genre) %>
            <%= genre.name %> 
          <% else %>
            <%= genre.name + ',' %> 
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-md-8 pb-3">
      <label class="col-md-3 pt-0 pl-0 col-form-label">Characters</label>
      <div class="d-flex flex-row flex-wrap">
          <div class="card col-md-4 mt-2">
            <img class="card-img-top card-img mt-2" src="https://comicvine1.cbsistatic.com/uploads/original/11117/111179559/4247222-uzumaki_naruto_kyuubi_mode_by_megalow-d75kw96.png" alt="...">
            <div class="card-body d-flex pl-0 flex-column">
              <small class="card-title mb-0">character name here</small>
            </div>
          </div>
          <div class="card col-md-4 mt-2">
            <img class="card-img-top card-img mt-2" src="https://comicvine1.cbsistatic.com/uploads/original/11117/111179559/4247222-uzumaki_naruto_kyuubi_mode_by_megalow-d75kw96.png" alt="...">
            <div class="card-body d-flex pl-0 flex-column">
              <small class="card-title mb-0">character name here</small>
            </div>
          </div>
          <div class="card col-md-4 mt-2">
            <img class="card-img-top card-img mt-2" src="https://comicvine1.cbsistatic.com/uploads/original/11117/111179559/4247222-uzumaki_naruto_kyuubi_mode_by_megalow-d75kw96.png" alt="...">
            <div class="card-body d-flex pl-0 flex-column">
              <small class="card-title mb-0">character name here</small>
            </div>
          </div>
          <div class="card col-md-4 mt-2">
            <img class="card-img-top card-img mt-2" src="https://comicvine1.cbsistatic.com/uploads/original/11117/111179559/4247222-uzumaki_naruto_kyuubi_mode_by_megalow-d75kw96.png" alt="...">
            <div class="card-body d-flex pl-0 flex-column">
              <small class="card-title mb-0">character name here</small>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
