<div class="d-flex flex-column pl-2">
  <!-- first part of information about the content -->
  <div class="mt-4 mb-4 row">
    <div class="col-md-5 pr-0">
      <%= image_tag @content.image, class: 'card-img', alt: "Image for #{@content.name}" %>
    </div>
    <div class="col-md-7 d-flex pl-0">
      <div class="card-body d-flex flex-column p-0 pl-3">
        <div class="d-flex justify-content-between align-items-center mb-2">
          <h3 class="d-flex card-title m-0"><%= @content.name %></h3>
          <% if(is_admin?) %>
          <div class="d-flex flex-row-reverse">
            <%= link_to 'Edit', edit_content_path(@content), class: 'btn btn-outline-secondary text-right mr-1' %>
          </div>
          <% end %>
        </div>

        <div class="d-flex justify-content-between">
          <% if(!@content.start_date.blank?) %>
            <p class="mb-1">Start Date: <%= @content.start_date.strftime("%e %b %Y") %></p>
          <% end %>
          <% if(!@content.end_date.blank?) %>
            <p class="mb-1">End Date: <%= @content.end_date.strftime("%e %b %Y") %></p>
          <% end %>
        </div>
        <% if(!@content.link_to_watch_or_read.blank?) %>
          <p>For <%= watching_or_reading %> click <%= link_to 'here.', @content.link_to_watch_or_read, target: :_blank, class:'pl-0' %></p>
        <% end %>
        <p class="mt-auto mb-0" id="description_content"><%= @content.description%></p>
      </div>
    </div>
  </div>

  <!-- second part of information about the content -->
  <div class="row">
    <div class="col-md-4 p-0">
      <div class="d-flex flex-row">
        <% if (@content.rating_number > 3)%>
          <strong class="col-md-7"> Rating </strong> <%= @content.rating %>
        <% else %>
          <strong class="col-md-12"> Not enough rating </strong> 
        <% end %>
      </div>
      <div  class="d-flex flex-row mt-3">
        <strong class="col-md-7"><%= episode_or_chapter %> Number</strong> <%= @content.episode_or_chapter_number %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7"><%= season_or_volume %> Number</strong> <%= @content.volume_or_season_number %>
      </div>
      <% if(@content.category == 'anime') %>
        <div class="d-flex flex-row mt-3">
          <strong class="col-md-7">Season</strong>
          <% if( 2 < @content.start_date.month && @content.start_date.month < 6) %>
            Spring 
          <% elsif(@content.start_date.month < 9) %>
            Summer
          <% elsif(@content.start_date.month < 12) %>
            Fall
          <% else %>
            Winter
          <% end %>
          <%= @content.start_date.year %>
        </div>
      <% end %>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Status</strong>
          <% if(@content.start_date) %> 
            <% if(@content.end_date) %>
              Finished
            <% else %>
              Airing
            <% end %>
          <% else %>
            Coming soon
          <% end %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Tags</strong> <%= @content.tags %>
      </div>
      <div class="d-flex flex-row mt-3">
        <strong class="col-md-7">Genres</strong> 
        <% @content.categories.all.order(name: :asc).each do |genre| %>
          <% if (@content.categories.all.order(name: :asc).last == genre) %>
            <%= genre.name %> 
          <% else %>
            <%= genre.name + ',' %> 
          <% end %>
        <% end %>
      </div>
    </div>
    <!-- displaying characters of the content -->
    <div class="col-md-8 pb-3">
      <label class="col-md-3 pt-0 pl-0 col-form-label font-weight-bold">Characters</label>
      <% if (!@content.characters.empty?)%>
        <div class="grid-container-for-4 margin-top-1">
          <% @content.characters.each do |character| %>
            <div class="grid-item border mr-2">
              <div class="flex content-center">
                <%= link_to image_tag(character.avatar_url, alt: "Avatar for #{character.name}", class:'w-100'), character_path(Character.find(character.id)) %>
              </div>
              <div class="text-align-center margin-top-auto">
                <%= character.name %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %> 
    </div>
  </div>
</div>

<!-- comment and review & rating tab -->
<ul class="nav nav-tabs mt-5" role="tablist">
  <li class="nav-item show active" role="presentation">
    <a class="nav-link" id="tab_comment" data-toggle="tab" href="#comment" role="tab" aria-controls="comment" aria-selected="true" >Comment</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="tab_review" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Review & Rating</a>
  </li>
</ul>

<div class="tab-content p-3">
  <!-- comment tab -->
  <div id="comment" class="tab-pane show active" role="tabpanel">
    <!-- displaying comments if the content has any -->
    <% if ( !@content.comments.empty?) %>
      <% @content.comments.order(created_at: :asc).each do |comment| %>
        <div class="d-flex flex-row mt-4">
              <div class="col-md-1 p-0 mr-3">
                <%= link_to image_tag(comment.user.avatar, alt: "Avatar for #{comment.user.name}", class: 'card-img'), user_path(comment.user) %>
          </div>
          <div class="flex-fill pl-3 border-left">
            <div class="d-flex row justify-content-between mb-2">
              <p class="ml-3 mb-0 align-self-center text-monospace"><%= comment.user.name %></p>
              <div>
                <small class="mr-3 text-muted"><%= comment.created_at.strftime("%e %B %Y at %k:%M") %></small>

                <!-- deleting the comment -->
                <% if (logged_in?) %>
                  <% if(current_user == comment.user || current_user == is_admin?) %>
                    <svg class="icon mr-3" role="presentation">
                      <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#delete" ) %>"></use>
                    </svg>
                  <% end %>
                <% end %>
              </div>
            </div>
            <p id="comment<%= comment.id %>"><%= comment.comment_body %></p>

            <!-- updating current comment -->
            <div id="update_comment<%= comment.id %>" class="d-none">
              <%= form_for([@content, comment]) do |form| %>
                <fieldset class="row">
                  <div class="flex-fill border-left pl-3 mr-3">
                    <%= form.text_area :comment_body, class: 'form-control', value: comment.comment_body, rows: 4 %>
                  </div>
                </fieldset>
                <fieldset class="d-flex justify-content-end">
                  <%= form.submit 'Update Comment', class: 'btn btn-white mt-2' %>
                </fieldset>
              <% end %>
            </div>
            
            <!-- icons of the comment -->
            <div id="icons<%= comment.id %>" class="d-flex justify-content-end">
              <svg id="report" class="icon ml-2" role="presentation">
                <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#report" ) %>"></use>
              </svg>
              <svg id="reply<%= comment.id %>" class="icon ml-2" role="presentation">
                <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#reply" ) %>"></use>
              </svg>
              <svg id="downvote" class="icon ml-2" role="presentation">
                <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#downvote" ) %>"></use>
              </svg>
              <svg id="upvote" class="icon ml-2" role="presentation">
                <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#upvote" ) %>"></use>
              </svg>
              <% if (logged_in?) %>
                <% if(current_user == comment.user) %>
                  <svg id="edit<%= comment.id %>" class="icon ml-2" role="presentation">
                    <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#edit" ) %>"></use>
                  </svg>
                <% end %>
              <% end %>
            </div>
            <div class="border-bottom mt-3"></div>

            <!-- displaying replies if the comment has any -->
            <% if ( !comment.replies.empty?) %>
              <% comment.replies.order(created_at: :asc).each do |reply| %>
                <div class="flex-fill d-flex justify-content-end mt-3 p-0">
                  <div class="col-md-1 p-0 mr-3 ml-2">
                    <img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img width-100" alt="...">
                  </div>
                  <div class="flex-fill pl-3 border-left">
                    <div class="d-flex row justify-content-between mb-2">
                      <p class="ml-3 mb-0 align-self-center">User name here</p>
                      <div>
                        <small class="mr-2 text-muted">when reply created</small>
                        <svg class="icon icon-small mr-3" role="presentation">
                          <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#delete" ) %>"></use>
                        </svg>
                      </div>
                    </div>
                    <p>I am reply</p>
                  </div>
                </div>
                <div class="border-bottom mt-3"></div>
              <% end %>
            <% end %>

            <!-- adding a reply to comment -->
            <div id="write_reply<%= comment.id %>" class="d-none mt-3">
              <%= form_for('') do |form| %>
                <fieldset>
                  <%= form.text_area(:comment_body, class: 'form-control mb-2', rows: 3) %>
                </fieldset>
                <fieldset class="d-flex justify-content-end">
                  <%= form.submit 'Add Reply', class: 'btn btn-white' %>
                </fieldset>
              <% end %>
            </div>
          </div>
        </div>
        <div class="border-bottom mt-4"></div>
      <% end %>
    <% else %>
      <h4 class="mt-3">No comments has been added to <%=@content.name %> so far!</h4>
    <% end %>

    <!-- adding new comment -->
    <% if (logged_in?) %>
      <div class="d-flex flex-row mt-3">
        <div class="flex-fill col-md-12 pr-0">
          <div class="row no-gutters">
            <div class="col-6 col-md-1"></div>
            <p class="text-muted mt-2 ml-3">Add your own comment</p>
          </div>
          <%= form_for([@content, @content.comments.build]) do |form| %>
            <fieldset class="row">
              <div class="col-md-1 p-0 mr-3 mt-1">
                <%= image_tag current_user.avatar, class: 'card-img p-0 w-100', alt: "Avatar for #{current_user.name}" %>
              </div>
              <div class="flex-fill border-left pl-3 mr-3">
                <%= form.text_area(:comment_body, class: 'form-control', rows: 4) %>
              </div>
            </fieldset>
            <fieldset class="d-flex justify-content-end">
              <%= form.submit class: 'btn btn-white mt-2' %>
            </fieldset>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <!-- review & rating tab -->
  <div class="tab-pane fade" id="review" role="tabpanel">
    <div class="d-flex flex-row mt-3">
      <div class="col-md-1 p-0 mr-3">
        <img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img width-100" alt="...">
      </div>
      <div class="flex-fill pl-3 border-left">
        <div class="d-flex row justify-content-between mb-2">
          <p class="ml-3 mb-0 align-self-center">User name here</p>
          <div>
            <button class="btn btn-white mr-3">X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 flex-fill pl-3 m-0 border-right">
            <p>Review here </p>
            <div class="row justify-content-between">
              <small class="ml-3">categories will be display here</small>
              <small class="mr-3">when review created</small>
            </div>
          </div>
          <div class="col-md-2 pl-3 align-self-center">
            <p>Rate will display here</p>
          </div>
        </div>
      </div>
    </div>

    <div class="border-bottom mt-3"></div>

    <div class="d-flex flex-row mt-3">
      <div class="col-md-1 p-0 mr-3">
        <img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img width-100" alt="...">
      </div>
      <div class="flex-fill pl-3 border-left">
        <div class="d-flex row justify-content-between mb-2">
          <p class="ml-3 mb-0 align-self-center">User name here</p>
          <div>
            <button class="btn btn-white mr-3">X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 flex-fill pl-3 m-0 border-right">
            <p>Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here</p>
            <div class="row justify-content-between">
              <small class="ml-3">categories will be display here</small>
              <small class="mr-3">when review created</small>
            </div>
          </div>
          <div class="col-md-2 pl-3 align-self-center">
            <p>Rate will display here</p>
          </div>
        </div>
      </div>
    </div>

    <div class="border-bottom mt-3"></div>

    <div class="d-flex flex-row mt-3">
      <div class="col-md-1 p-0 mr-3">
        <img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img width-100" alt="...">
      </div>
      <div class="flex-fill pl-3 border-left">
        <div class="d-flex row justify-content-between mb-2">
          <p class="ml-3 mb-0 align-self-center">User name here</p>
          <div>
            <button class="btn btn-white mr-3">X</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-10 flex-fill pl-3 m-0 border-right">
            <p>Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here Review here</p>
            <div class="row justify-content-between">
              <small class="ml-3">categories will be display here</small>
              <small class="mr-3">when review created</small>
            </div>
          </div>
          <div class="col-md-2 pl-3 align-self-center">
            <p>Rate will display here</p>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex flex-row mt-5 justify-content-end">
      <div class="flex-fill col-md-11 pr-0">
        <p class="text-muted mb-2">Share your thoughts with the community about the anime/manga</p>
        <%= form_for('', remote: true) do |form| %>
          <fieldset class="d-flex row ml-1 mb-3 align-item-center">
            <p class="mr-3 mb-0">Rating: </p>
            <% for x in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9 , 10] %>
              <div class="col-md-1 p-0">
                <%= form.radio_button "rating", x %> 
                <%= x %>
              </div>
            <% end %>
          </fieldset>
          <fieldset>
            <%= form.text_area(:body, class: 'form-control mb-2', rows: 3) %>
          </fieldset>
          <fieldset class="d-flex justify-content-end">
            <%= form.submit 'Add Review & Rating', class: 'btn btn-white' %>
          </fieldset>
        <% end %>
      </div>
    </div>

  </div>
</div>
</div>
