<div class="col-md-6 offset-md-3">
  <h1 class="text-left display-4 mt-5 mb-5">Edit User</h1>
  <% if(@user.errors.any?) %>
    <div class="alert alert-danger pb-0 pt-0">
      <ul class="list-unstyled mb-2">
      <% @user.errors.full_messages.each do |message| %>
        <li class="mt-2"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <%= form_for @user do |form| %>
    <fieldset class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= form.label :avatar %>
      <%= form.file_field :avatar, class: 'form-control' %>
    </fieldset>

    <fieldset class="mt-4">
      <%= form.submit class: 'btn btn-first btn-block' %>
    </fieldset>
  <% end %>
</div>
