<div class="col-md-6 offset-md-3">
  <h1 class="text-left display-4 mt-5 mb-5">Sign up</h1>
  
  <%= form_for(@user) do |form| %>
    <% if(@user.errors.any?) %>
      <div class="alert alert-danger pb-0 pt-0">
        <ul class="list-unstyled mb-2">
        <% @user.errors.full_messages.each do |message| %>
          <li class="mt-2"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="form-group mt-3">
      <%= form.label :email %>    
      <%= form.email_field :email, class:'form-control' %>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </fieldset>

    <fieldset class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class:'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= form.submit 'Sign up', class:'btn btn-first btn-block' %>
    </fieldset>
  <% end %>
</div>