<div id="reason_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="blockingUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="blockingUserModal">Reason of blocking <%= @user.name %></h5>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="recipient-name" class="col-form-label">Recipient:</label>
          <input type="text" class="form-control" id="recipient-name" readonly placeholder='<%=@user.email %>'>
        </div>
        <%= form_for(@user, :url => block_path(@user), method: :post) do |form| %>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Please choose at least one reason:</label>
                <% for reason in ['Used report button without reason', 
                                    'Offensive word in comments', 
                                    'Racist or sexist discourse'] %>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <%= check_box_tag "reason[]", reason, false %>
                      </div>
                    </div>
                    <div type="text" class="form-control">  <%= reason %> </div>
                  </div>
                <% end %>
              </div>
              <div class="form-group">
                Or please indicate the reason for blocking this user:
                <textarea class="form-control" name="reason[]" rows="3" id="message-text"></textarea>
              </div>
            </div>

            <div class="modal-footer">
              <button id="close_modal" type="button" class="btn btn-white" data-dismiss="modal">Close</button>
              <%= form.submit 'Send Mail', class: 'btn btn-danger' %>
            </div>
        <% end %>
    </div>
  </div>
</div>

<div class="d-flex flex-column">
  <div class="mt-5 mb-3 border-0 p-0">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag @user.avatar, class: 'card-img w-100', alt: "Avatar for #{@user.name}" %>
      </div>
      <div class="col-md-9 d-flex">
        <div class="card-body d-flex flex-column pt-0 pb-0 pr-0">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="d-flex card-title m-0"><%= @user.name %></h3>
            <div class="d-flex flex-row-reverse">
              <% if (logged_in?) %>
                <% if (current_user == @user) %>
                  <%= link_to 'Edit', edit_path(@user), class: 'btn btn-outline-secondary mr-3 text-right' %>
                <% end %>
                <% if(is_admin? && current_user != @user && @user.role != 'admin') %>
                  <% if(@user.is_blocked == false) %>
                    <button id="block_reason" type="button" class="btn btn-outline-danger mr-3" data-toggle="modal" data-target="#exampleModal">Block</button>
                  <% else %>
                    <%= button_to "Unblock", block_path(@user), class:'btn btn-outline-danger mr-3' %>
                  <% end %>
                  <% if(@user.role == "registered" && !@user.is_blocked) %>
                    <%= button_to "Make Admin", admin_path(@user), class:'btn btn-outline-danger mr-3' %>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          </div>
          
          <p class="mt-auto"><%= @user.name %> has added <%= @anime.length %>
            <% unless (@anime.empty?)%>
              <%= pluralize_contents(@anime) %> 
            <% else %>
              anime 
            <% end %> and <%= @manga.length %> 
            <% unless (@manga.empty?)%>
              <%= pluralize_contents(@manga) %> 
            <% else %>
              manga 
            <% end %> in the favorite list. </p>
          <% if(@comment.nil?) %>
            <%= @user.name %> did not add any comments so far!
          <% else %>
            <p class="card-text">Last comment: <%= @user.name %> has made a comment on <%= @comment.content.name %></p>
          <% end %>

          <p class="card-text">
            <small class="text-muted">
              <% if (@user.is_blocked == false ) %>
                <%= @user.name %> has been a member for <%= time_ago_in_words(@user.created_at) %> - <%= @user.role %>
              <% else %>
                banned from application
              <% end %>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs mt-5" id="MangAnimeTab" role="tablist">
    <li class="nav-item show active" role="presentation">
      <a class="nav-link" id="tab_anime" data-toggle="tab" href="#anime" role="tab" aria-controls="anime" aria-selected="true" >Anime</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab_manga" data-toggle="tab" href="#manga" role="tab" aria-controls="manga" aria-selected="false">Manga</a>
    </li>
  </ul>

  <div class="tab-content p-3" >
    <div id="anime" class="tab-pane show active" role="tabpanel">
      <% unless ( @anime.empty?)%>
        <% @anime.each do |anime| %>
          <div class="d-flex flex-row mt-3">
            <div class="col-md-1 p-0 mr-3">
              <%= link_to image_tag(anime.image, alt: "Image for #{anime.name}", class:'w-75'), content_path(anime) %>
            </div>
            <div class="col-md-5 pl-3 border-right border-left align-self-center">
              <p><%= link_to anime.name, content_path(anime), class:'p-0' %> </p>
              <p><%= anime.created_at.strftime("%e %B %Y at %k:%M")%> </p>
            </div>
            <div class="flex-fill pl-3 align-self-center">
              <% if(anime.rating_number > 3)%>
                <p class="text-align-center">This anime has been took <%= anime.rating %> points on avarage.</p>
              <% else %>
                <p class="text-align-center">This anime does not have enough rating to show.</p>
              <% end %>
            </div>
          </div>
          <% unless (anime == @anime.last) %>
            <div class="border-bottom mt-3"></div>
          <% end %>
        <% end %>
      <% else %>
        <h4> No anime has been added to <%= @user.name %>'s anime list !</h4>
      <% end %>
    </div>

    <div class="tab-pane fade" id="manga" role="tabpanel">
      <% unless (@manga.empty?)%>
        <% @manga.each do |manga| %>
          <div class="d-flex flex-row mt-2">
            <div class="col-md-1 p-0 mr-3">
              <%= link_to image_tag(manga.image, alt: "Image for #{manga.name}", class:'w-75'), content_path(manga) %>
            </div>
            <div class="col-md-5 pl-3 border-right border-left align-self-center">
              <p><%= link_to manga.name, content_path(manga), class:'p-0' %> </p>
              <p><%= manga.created_at.strftime("%e %B %Y at %k:%M")%> </p>
            </div>
            <div class="flex-fill pl-3 align-self-center">
              <% if(manga.rating_number > 3)%>
                <p class="text-align-center">This manga has been took <%= manga.rating %> points on avarage.</p>
              <% else %>
                <p class="text-align-center">This manga does not have enough rating to show.</p>
              <% end %>
            </div>
          </div>
          <% unless (manga == @manga.last) %>
            <div class="border-bottom mt-3"></div>
          <% end %>
        <% end %>
      <% else %>
        <h4> No manga has been added to <%= @user.name %>'s manga list !</h4>
      <% end %>
    </div>
  </div>
</div>
