<div class="d-flex flex-column">
  <div class="mt-5 mb-3 border-0 p-0">
    <div class="row">
      <div class="col-md-3">
        <img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img" alt="...">
      </div>
      <div class="col-md-9 d-flex">
        <div class="card-body d-flex flex-column pt-0 pb-0 pr-0">
          <div class="d-flex justify-content-between align-items-center">
            <h3 class="d-flex card-title m-0"><%= @user.name %></h3>
            <div class="d-flex flex-row-reverse">
              <%= link_to 'Edit', edit_path, class: 'btn btn-outline-secondary mr-3 text-right' %>
              <% if(is_admin?) %>
                <% if(@user.is_blocked == true) %>
                  <%= button_to "Block", block_path, class:'btn btn-outline-danger mr-3' %>
                <% else %>
                  <%= button_to "Unblock", block_path, class:'btn btn-outline-danger mr-3' %>
                <% end %>
              <% end %>
            </div>
          </div>
          <p class="mt-auto"><%= @user.name %> has watched 9 anime.s and has read 3 manga.s until now. </p>
          <p class="card-text"><%= @user.name %> has made a comment on @manga-anime.</p>
          <p class="card-text">
            <small class="text-muted">
              <% if (@user.is_blocked == false ) %>
                <%= @user.name %> has been a member for <%= time_ago_in_words(@user.created_at) %> - <%= @user.role %>
              <% else %>
                banned from application
              <% end %>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>

  <ul class="nav nav-tabs mt-5" id="MangAnimeTab" role="tablist">
    <li class="nav-item show active" role="presentation">
      <a class="nav-link" id="tab_anime" data-toggle="tab" href="#anime" role="tab" aria-controls="anime" aria-selected="true" >Anime</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="tab_manga" data-toggle="tab" href="#manga" role="tab" aria-controls="manga" aria-selected="false">Manga</a>
    </li>
  </ul>

  <div class="tab-content p-3" >
    <div id="anime" class="tab-pane show active" role="tabpanel">
      <div class="d-flex flex-row mt-2">
        <div class="col-md-1 p-0 mr-3">
          <img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img height-100 width-100" alt="...">
        </div>
        <div class="flex-fill pl-3 border-right border-left">
          <p>Anime name here</p>
          <p>When user has added this anime to his/her list</p>
        </div>
        <div class="flex-fill pl-3">
          <p>This anime has been took 9.8 points on avarage.</p>
        </div>
      </div>
      <div class="border-bottom mt-2"></div>
      <div class="d-flex flex-row mt-2">
        <div class="col-md-1 p-0 mr-3">
          <img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img height-100 width-100" alt="...">
        </div>
        <div class="flex-fill pl-3 border-right border-left">
          <p>Anime name here</p>
          <p>When user has added this anime to his/her list</p>
        </div>
        <div class="flex-fill pl-3">
          <p>This anime has been took 9.8 points on avarage.</p>
        </div>
      </div>
      <div class="border-bottom mt-2"></div>
      <div class="d-flex flex-row mt-2">
        <div class="col-md-1 p-0 mr-3">
          <img src="https://cdnb.artstation.com/p/assets/images/images/013/162/715/large/muzu-violet-evergarden-by-muzuart.jpg?1564079658" class="card-img height-100 width-100" alt="...">
        </div>
        <div class="flex-fill pl-3 border-right border-left">
          <p>Anime name here</p>
          <p>When user has added this anime to his/her list</p>
        </div>
        <div class="flex-fill pl-3">
          <p>This anime has been took 9.8 points on avarage.</p>
        </div>
      </div>
    </div>
    <div class="tab-pane fade" id="manga" role="tabpanel">
      <div class="d-flex flex-row mt-2">
        <div class="col-md-1 p-0 mr-3">
          <img src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1240/MTc0NDc2MjM1Mzg3MTg0Nzc0/violet-evergarden-a-story-about-how-to-love.webp" class="card-img height-100 width-100" alt="...">
        </div>
        <div class="flex-fill pl-3 border-right border-left">
          <p>Manga name here</p>
          <p>When user has added this manga to his/her list</p>
        </div>
        <div class="flex-fill pl-3">
          <p>This manga has been took 9.8 points on avarage.</p>
        </div>
      </div>
      <div class="border-bottom mt-2"></div>
      <div class="d-flex flex-row mt-2">
        <div class="col-md-1 p-0 mr-3">
          <img src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1240/MTc0NDc2MjM1Mzg3MTg0Nzc0/violet-evergarden-a-story-about-how-to-love.webp" class="card-img height-100 width-100" alt="...">
        </div>
        <div class="flex-fill pl-3 border-right border-left">
          <p>Manga name here</p>
          <p>When user has added this manga to his/her list</p>
        </div>
        <div class="flex-fill pl-3">
          <p>This manga has been took 9.8 points on avarage.</p>
        </div>
      </div>
      <div class="border-bottom mt-2"></div>
      <div class="d-flex flex-row mt-2">
        <div class="col-md-1 p-0 mr-3">
          <img src="https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_1240/MTc0NDc2MjM1Mzg3MTg0Nzc0/violet-evergarden-a-story-about-how-to-love.webp" class="card-img height-100 width-100" alt="...">
        </div>
        <div class="flex-fill pl-3 border-right border-left">
          <p>Manga name here</p>
          <p>When user has added this manga to his/her list</p>
        </div>
        <div class="flex-fill pl-3">
          <p>This manga has been took 9.8 points on avarage.</p>
        </div>
      </div>
    </div>
  </div>
</div>
