<div class="col-md-6 offset-md-3 mt-5">
  <h2 class="text-left mt-5 mb-5"> <%= translate('hello')%> @admin_name_here, <br> <%= translate('welcoming_add_page') %> </h2>
  <% if(flash.any?) %>
    <div class="form-group row alert alert-info ml-0 mr-0 pl-3 mb-5">
      <% flash.each do |name, message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>

  <ul class="mt-3 mb-5 list-unstyled">
    <li><%= link_to translate('add_anime'), '', class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to translate('add_character'), '', class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to translate('add_genre'), add_genre_path, class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to translate('add_manga'), '', class:'btn btn-first w-100 p-3 mb-5' %></li>
  </ul>
</div>
