<div class="col-md-6 offset-md-3 mt-5">
  <h2 class="text-left mt-5 mb-5"> <%= translate('hello')%> @admin_name_here, <br> <%= translate('welcoming_add_page') %> </h2>

  <ul class="mt-3 mb-5 list-unstyled">
    <li><%= link_to translate('add_anime'), '', class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to translate('add_character'), '', class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to translate('add_genre'), '', class:'btn btn-first w-100 p-3' %></li>
    <li class="mt-5"><%= link_to translate('add_manga'), '', class:'btn btn-first w-100 p-3 mb-5' %></li>
  </ul>
</div>
