<h4 class="margin-top-2"> Most popular <%= @popular.length.to_s + ' ' + pluralize_contents(@popular) %> </h4>
<%= render partial: 'display_5content', locals: {content: @popular} %>

<h4 class="margin-top-2"> Most recent <%= @recent.length.to_s + ' ' + pluralize_contents(@recent) %> </h4>
<%= render partial: 'display_5content', locals: {content: @recent} %>

<h4 class="margin-top-2"> Most popular & not completed <%= @unfinished_popular.length.to_s + ' ' + pluralize_contents(@unfinished_popular)%> </h4>
<%= render partial: 'display_5content', locals: {content: @unfinished_popular} %>

<%= render partial: 'display_all', locals: { episode_or_chapter: 'Episodes', content: @all} %>
