<h4 class="margin-top-2">  <%= translate('most_popular')%> <%= @popular.length.to_s + ' ' + translate(pluralize_contents(@popular)) %> </h4>
<%= render partial: 'display_5content', locals: {content: @popular} %>

<h4 class="margin-top-2"> <%= translate('most_recent')%> <%= @recent.length.to_s + ' ' + translate(pluralize_contents(@recent))%> </h4>
<%= render partial: 'display_5content', locals: {content: @recent} %>

<h4 class="margin-top-2"> <%= translate('most_popular')%> & <%= translate('not_completed')%> <%= @unfinished_popular.length.to_s + ' ' + translate(pluralize_contents(@unfinished_popular)) %></h4>
<%= render partial: 'display_5content', locals: {content: @unfinished_popular} %>

<%= render partial: 'display_all', locals: { episode_or_chapter: 'chapters', content: @all} %>
