<nav id="search" class="navbar navbar-expand-sm container mt-2">
  <div id="search_bar" class="collapse navbar-collapse flex-nowrap">
    <div class="flex-grow-1">
      <%= form_tag search_path, method: :get do %>
        <%= label_tag(:q, 'Search term', class: 'sr-only') %>
        <%= text_field_tag(:q, params[:q], class: 'form-control', placeholder:translate('search_placeholder'), id:'search_bar') %>
         <%= submit_tag('Search', class: 'btn btn-white ml-2 sr-only', id:'submit_search_button') %>
      <% end %>
    </div>

    <div class="d-flex flex-row ml-2">
      <div class="has-dropdown mr-2 align-self-center">
        <button class="btn btn-white ml-1" type="submit" id="dropdown">
          <% if(params[:season])%>
            <%= params[:season].upcase_first %>
          <% else %>
            <%= translate('season') %>
          <% end %>
          <svg class="icon-downArrow ml-2" role="presentation">
            <use xlink:href="<%= asset_url("icons/icons-defs.svg" + "#down_arrow" ) %>"></use>
          </svg>
        </button>
       
        <ul class="dropdown ml-2 pl-1 pr-1">
          <li class="mt-1">
          <%= form_tag search_path, method: :get do %>
            <%= label_tag(:season, 'Winter', class:'sr-only') %>
            <%= text_field_tag(:season, 'winter', class: 'form-control sr-only') %>
            <%= submit_tag( translate('winter'), type:'submit') %>
          <% end %>
          </li>
          <li>
          <%= form_tag search_path, method: :get do %>
            <%= label_tag(:season, 'Spring', class:'sr-only') %>
            <%= text_field_tag(:season, 'spring', class: 'form-control sr-only') %>
            <%= submit_tag(translate('spring'), type:'submit') %>
          <% end %>
          </li>
          <li>
          <%= form_tag search_path, method: :get do %>
            <%= label_tag(:season, 'Summer', class:'sr-only') %>
            <%= text_field_tag(:season, 'summer', class: 'form-control sr-only') %>
            <%= submit_tag(translate('summer'), type:'submit') %>
          <% end %>
          </li>
          <li class="mb-1">
          <%= form_tag search_path, method: :get do %>
            <%= label_tag(:season, 'Autumn', class:'sr-only') %>
            <%= text_field_tag(:season, 'autumn', class: 'form-control sr-only') %>
            <%= submit_tag(translate('autumn'), type:'submit', class:'flex-grow-1') %>
          <% end %>
          </li>
        </ul>
      </div>
      <div>
        <button id="advanced_search_button" class="btn btn-white" type="submit"><%= translate('advanced') + ' ' + translate('search')%> </button>
      </div>
    </div>
</nav>

<div id='advanced_search' class="container d-none">
  <%= form_tag search_path, method: :get do %>
    <h4 class="mt-3"><%= translate('genres') %>:</h4>
    <div class="col-sm-12 row">
      <% for genre in Genre.all.order(name: :asc) %>
          <div class="col-sm-2 p-0 mt-2">
            <%= check_box_tag "genres_id[]", genre.id, false%> 
            <%= genre.name %> 
          </div>
      <% end %>
    </div>

    <h4 class="mt-3"><%= translate('search_starting_from') %>:</h4>
    <div class="col-sm-12 row">
      <% @years.each do |year| %>
        <div class="col-sm-2 p-0 mt-2">
          <%= radio_button_tag "year", year%>  
          <%= year %>
        </div>
      <% end %>
    </div>

      <%= submit_tag(translate('search_button'), type:'submit', class:'col-sm-12 btn btn-white mt-3') %>
    <% end %>
</div>

<% unless (params[:q].nil?) %>
  <% unless( @animes.empty? && @mangas.empty?) %>
    <% unless(@animes.empty? || @animes.nil?) %> 
        <h3 class="margin-top-2 margin-left-1"> Results for 
        <% if (@search_term == '')%>
          everything
        <% else %>
        '<%= @search_term %>' 
        <% end %> in <%= @animes.first.category %>s</h3>
      <%= render partial: 'display_5content', locals: {content: @animes, search_term: params[:q] } %>
    <% else %>
      <h3 class="mt-4 ml-3"> No result found for '<%= params[:q] %>' in Animes! </h3>
    <% end %>
    <% unless(@mangas.empty? || @mangas.nil?) %>
      <%= render partial: 'display_5content', locals: {content: @mangas, search_term: params[:q] } %>
    <% else %>
      <h3 class="mt-4 ml-3"> No result found for '<%= params[:q] %>' in Mangas! </h3>
    <% end %>
  <% else %>
    <h3 class="mt-4 container"> I couldn't find '<%= params[:q] %>' in anywhere! </h3>
  <% end %>
<% end %>

<% unless (params[:season].nil?) %>
  <% unless( @animes.empty? && @mangas.empty?) %>
    <% unless(@animes.empty? || @animes.nil?) %>
      <h3 class="margin-top-2 margin-left-1"> <%= params[:season].upcase_first %> season <%= pluralize_contents(@animes) %></h3>
      <%= render partial: 'display_5content', locals: { content: @animes } %>
    <% else %>
      <h3 class="mt-4 ml-3"> There is no <%= params[:season] %> season anime! </h3>
    <% end %>
    <% unless(@mangas.empty? || @mangas.nil?) %>
      <h3 class="margin-top-2 margin-left-1"> <%= params[:season].upcase_first %> season <%= pluralize_contents(@mangas) %></h3>
      <%= render partial: 'display_5content', locals: { content: @mangas } %>
    <% else %>
      <h3 class="mt-4 ml-3"> There is no <%= params[:season] %> season manga! </h3>
    <% end %>
  <% else %>
    <h3 class="mt-4 container"> I couldn't find anything for <%= params[:season] %> season! </h3>
  <% end %>
<% end %>

<% if ( !params[:year].nil? && params[:genres_id].nil? ) %>
  <% unless( @animes.empty? && @mangas.empty?) %>
    <% unless(@animes.empty? || @animes.nil?) %>
      <h3 class="margin-top-2 margin-left-1"> <%= pluralize_contents(@animes).upcase_first %> that started after <%= params[:year] %> </h3>
      <%= render partial: 'display_5content', locals: { content: @animes } %>
    <% else %>
      <h3 class="mt-4 ml-3"> There is no anime that started after <%= params[:year] %>! </h3>
    <% end %>
    <% unless(@mangas.empty? || @mangas.nil?) %>
      <h3 class="margin-top-2 margin-left-1"> <%= pluralize_contents(@mangas).upcase_first %> that started after <%= params[:year] %> </h3>
      <%= render partial: 'display_5content', locals: { content: @mangas } %>
    <% else %>
      <h3 class="mt-4 ml-3"> There is no manga that started after <%= params[:year] %>! </h3>
    <% end %>
  <% end %>
<% elsif ( !params[:genres_id].nil? && params[:year].nil?) %>
  <% unless( @animes.empty? && @mangas.empty?) %>
    <% unless(@animes.empty? || @animes.nil?) %>
      <h3 class="margin-top-2 margin-left-1"> Here <%= is_or_are(@animes) %> the result for
        <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and '<%= genre.name %>'
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              '<%= genre.name %>'
            <% else %>
              '<%= genre.name%>',
            <% end %>
          <% end %>
        <% end %>
        in <%= pluralize_contents(@animes) %>!
      </h3>
      <%= render partial: 'display_5content', locals: { category: 'Genre', content: @animes, search_term: params[:genres_id] } %>
    <% else %>
      <h3 class="mt-4 ml-3"> No result found for 
        <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and <%= genre.name %>
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              <%= genre.name%>
            <% else %>
              <%= genre.name%>,
            <% end %>
          <% end %>
        <% end %> in Animes!
      </h3>
    <% end %>
    <% unless(@mangas.empty? || @mangas.nil?) %>
      <h3 class="margin-top-2 margin-left-1"> Here <%= is_or_are(@mangas) %> the result for
        <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and '<%= genre.name %>'
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              '<%= genre.name %>'
            <% else %>
              '<%= genre.name%>',
            <% end %>
          <% end %>
        <% end %>
        in <%= pluralize_contents(@mangas) %>!
      </h3>
      <%= render partial: 'display_5content', locals: { category: 'Genre', content: @mangas, search_term: params[:genres_id] } %>
    <% else %>
      <h3 class="mt-4 ml-3"> No result found for 
        <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and <%= genre.name %>
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              <%= genre.name%>
            <% else %>
              <%= genre.name%>,
            <% end %>
          <% end %>
        <% end %> in Mangas! 
      </h3>
    <% end %>
  <% else %>
    <h3 class="mt-4 container"> I couldn't find anything for 
      <% for genre in Genre.find(params[:genres_id]) %>
        <% if (params[:genres_id].length == 1) %>
          <%= Genre.find(params[:genres_id]).first.name %>!
        <% else %>
          <% if(genre == Genre.find(params[:genres_id]).last) %>
            and <%= genre.name %>!
          <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
            <%= genre.name%>
          <% else %>
            <%= genre.name%>,
          <% end %>
        <% end %>
      <% end %>
    </h3>
  <% end %>
<% elsif ( !params[:genres_id].nil? && !params[:year].nil?) %>
  <% unless( @animes.empty? && @mangas.empty?) %>
    <% unless(@animes.empty? || @animes.nil?) %>
      <h3 class="margin-top-2 margin-left-1"> <%= pluralize_contents(@animes).upcase_first %> from <%= params[:year] %> for 
        <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and <%= genre.name %>
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              <%= genre.name %>
            <% else %>
              <%= genre.name%>,
            <% end %>
          <% end %>
        <% end %>
      </h3>
      <%= render partial: 'display_5content', locals: { content: @animes } %>
    <% else %>
      <h3 class="mt-4 ml-3"> I couldn't find anything for 
        <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and <%= genre.name %>
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              <%= genre.name%>
            <% else %>
              <%= genre.name%>,
            <% end %>
          <% end %>
        <% end %> after <%= params[:year] %> in anime! </h3>
    <% end %>
    <% unless(@mangas.empty? || @mangas.nil?) %>
      <h3 class="margin-top-2 margin-left-1"> <%= pluralize_contents(@mangas).upcase_first %> from <%= params[:year] %> for 
        <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and <%= genre.name %>
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              <%= genre.name %>
            <% else %>
              <%= genre.name%>,
            <% end %>
          <% end %>
        <% end %>
      </h3>
      <%= render partial: 'display_5content', locals: { category: 'Genre&Year', content: @mangas, search_term: [params[:genres_id], params[:year]] } %>
    <% else %>
      <h3 class="mt-4 ml-3"> I couldn't find anything for 
        <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and <%= genre.name %>
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              <%= genre.name%>
            <% else %>
              <%= genre.name%>,
            <% end %>
          <% end %>
        <% end %> after <%= params[:year] %> in manga! </h3>
    <% end %>
  <% else %>
    <h3 class="mt-4 container"> I couldn't find anything for <% for genre in Genre.find(params[:genres_id]) %>
          <% if (params[:genres_id].length == 1) %>
            <%= Genre.find(params[:genres_id]).first.name %>
          <% else %>
            <% if(genre == Genre.find(params[:genres_id]).last) %>
              and <%= genre.name %>
            <% elsif( genre == Genre.find(params[:genres_id])[Genre.find(params[:genres_id]).length-2]) %>
              <%= genre.name%>
            <% else %>
              <%= genre.name%>,
            <% end %>
          <% end %>
        <% end %> after <%= params[:year] %>! </h3>
  <% end %>
<% end %>
