<div class="col-md-6 offset-md-3">
  <h1 class="text-left display-4 mt-5 mb-5">Add Character</h1>
  <% if(flash.any?) %>
    <div class="form-group row alert alert-danger ml-0 mr-0 pl-3">
      <% flash.each do |name, message| %>
        <div><%= message %></div>
      <% end %>
    </div>
  <% end %>
  
  <%= form_for @character do |form| %>
    <fieldset class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= form.label :surname %>
      <%= form.text_field :surname, class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= form.label :avatar_url %>
      <%= form.text_field :avatar_url, class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= form.label :information %>
      <%= form.text_area :information, class: 'form-control' %>
      <small>* Please do not forget to add the information up to given rules! 
      <br>Example: <br>+gender_space_in_between_+male_space_in_between_+eye color_space_in_between_+blue_space_in_between_+general information about the character...
      </small>
    </fieldset>

    <fieldset class="mt-4 d-flex flex-row align-items-center">
      <%= link_to translate('cancel'), add_path %>
      <%= form.submit class: 'btn btn-first btn-block ml-3' %>
    </fieldset>
  <% end %>
</div>
