<div class="col-md-6 offset-md-3">
  <h1 class="text-left display-4 mt-5 mb-5">Add Character</h1>
  
  <%= form_for @character do |form| %>
    <% if(@character.errors.any?) %>
      <div class="alert alert-danger pb-0 pt-0">
        <ul class="list-unstyled mb-2">
        <% @character.errors.full_messages.each do |message| %>
          <li class="mt-2"><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= form.label :surname %>
      <%= form.text_field :surname, class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= form.label :avatar_url %>
      <%= form.text_field :avatar_url, class: 'form-control' %>
    </fieldset>

    <fieldset class="form-group">
      <%= form.label :information %>
      <%= form.text_area :information, class: 'form-control', placeholder: '+gender +male +eye color +blue +before attending the s...' %>
      <small class="text-danger">* Please do not forget to add the information up to given rules! </small> <br>
      <small>Example: <br>+gender_space_in_between_+male_space_in_between_+eye color_space_in_between_+blue_space_in_between_+general information about the character...</small> <br>
      <small> It will looks like this:<br>+gender +male +eye color +blue +before attending the sorcerer school, he was strolling around..... </small> <br>
      <small> Output will looks like this: <br>
        <div class="row m-0">
          <div class="font-weight-bold mr-1">Gender: </div> Male
        </div>
        <div class="row m-0">
          <div class="font-weight-bold mr-1">Eye Color:</div>Blue <br>
        </div>
        
        Before attending the sorcerer school, he was strolling around.....
      </small>
    </fieldset>

    <fieldset class="mt-4 d-flex flex-row align-items-center">
      <%= link_to translate('cancel'), add_path %>
      <%= form.submit class: 'btn btn-first btn-block ml-3' %>
    </fieldset>
  <% end %>
</div>
