<div class="flex d-flex-row margin-top-1" id="character_info">
  <div class="margin-top-1 flex flex-d-row flex-basis-auto">
    <div class="flex flex-basis-40 padding-right-0 margin-right-1">
      <%= image_tag @character.avatar_url, class: 'border-curve width-100', alt: "Avatar for #{@character.name}" %>
    </div>
    <div class="flex-basis-auto flex">
      <div class="flex d-flex-column flex-basis-auto">
        <div class="flex content-between align-center margin-bottom-1">
          <h3 class="margin-0"><%= @character.name %> <%= @character.surname %></h3>
          <% if (is_admin?)%>
            <%= link_to 'Edit', edit_character_path(@character), class: 'button btn-white margin-right-05' %>
          <% end %>
        </div>
        <div class="margin-top-auto" id="character_special">
          <p><%= @character.information%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="character_general">
</div>

<div>
  <% if (!@anime.empty?)%>
    <h5><%= pluralize_contents(@anime).upcase_first %> Appearences</h5>
    <%= render partial: 'display_5content', locals: {content: @anime} %>
  <% end %>
</div>
<div class="mt-3">
  <% if (!@manga.empty?)%>
    <h5><%= pluralize_contents(@manga).upcase_first %> Appearences</h5>
    <%= render partial: 'display_5content', locals: {content: @manga} %>
  <% end %>
</div>
