<div class="flex d-flex-row margin-top-1" id="character_info">
  <div class="margin-top-1 flex flex-d-row flex-basis-auto">
    <div class="flex flex-basis-45 margin-right-1 profile-image">
      <%= image_tag @character.avatar_url, class: 'border-curve', alt: "Avatar for #{@character.name}" %>
    </div>
    <div class="flex-basis-auto flex">
      <div class="flex d-flex-column flex-basis-auto">
        <div class="flex content-between align-center margin-bottom-1">
          <h3 class="margin-0"><%= @character.name %> <%= @character.surname %></h3>
          <%= link_to 'Edit', edit_character_path(@character), class: 'button btn-white margin-right-05' %>
        </div>
        <div class="margin-top-auto" id="character_special">
          <p><%= @character.information%></p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="character_general">
</div>

<div>
  <% if (!@anime.empty?)%>
    <%= render partial: 'display_5content', locals: {category: 'Anime', content: @anime} %>
  <% end %>
</div>
<div class="mt-3">
  <% if (!@manga.empty?)%>
    <%= render partial: 'display_5content', locals: {category: 'Manga', content: @manga} %>
  <% end %>
</div>
