<div class="container pl-0 mt-5">
  <h5>All <%= content.first.category.upcase_first %>s</h5>
  <% content.each do |content| %>
    <div class="border-bottom"></div>
    <div class="d-flex flex-row mt-2 mb-2">
      <div class="col-6 border-right p-0">
        <div class="d-flex flex-row">
          <div class="col-3 pl-0">
            <%= link_to image_tag(content.image, alt: "Image for #{content.name}", class:'w-75'), content_path(content) %>
          </div>
          <div class="d-flex flex-column">
            <%= link_to  content.name, content_path(content), class:'col text-dark mb-3' %>
            <div class="mt-auto mb-3 pl-3 pr-3 text-muted">
              <% content.categories.each do |genre|%>
                <% if (content.categories.last == genre) %>
                  <%= genre.name %> 
                <% else %>
                  <%= genre.name + ',' %> 
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2 text-align-center m-auto">
        <% if(content.rating == 0 || content.rating_number < 3) %>
          Not enough rating
        <% else %>
          <%= content.rating %>
        <% end %>
      </div>
      <div class="border-right"></div>
      <div class="col-2 text-align-center m-auto">
        <%= content.episode_or_chapter_number %> <%= episode_or_chapter %>
      </div>
      <div class="border-right"></div>
      <div class="col-2 text-align-center m-auto d-flex flex-column">
        <% if (content.start_date < Time.now) %>
          <div><%= content.start_date.strftime("%e %b %Y") %></div>
          <% if(content.end_date) %>
            <div><%= content.end_date.strftime("%e %b %Y") %></div>
          <% else %>
            Airing
          <% end %>
        <% else %>
          Coming soon
        <% end %>
      </div>
    </div>
  <% end %>
  <div class="border-bottom"></div>
</div>
