<footer class="fixed-bottom mt-auto">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <%= render partial: 'logo' %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-wrap">
          <li class="nav_item border-right p-2"> <%= link_to translate('home') , root_path %> </li>
          <li class="nav_item border-right p-2"> <%= link_to translate('about') , about_path %> </li>
          <% if (is_admin?) %>
            <li class="nav_item border-right"> <%= link_to (translate('help') + ' & '+ translate('rules') +' - ' + translate('admin')) , admin_help_and_rules_path, class:'admin-nav-link' %> </li>
          <% else %>
            <li class="nav_item border-right"> <%= link_to (translate('help') + ' & '+ translate('rules')) , help_and_rules_path, class:'nav-link' %> </li>
          <% end %>
          <li class="nav_item"> <%= link_to translate('contact') , contact_path, class:'nav-link' %> </li>
        </ul>
      </div>

      <div>
        <ul class="navbar-nav mr-auto flex-wrap">  
          <% I18n.available_locales.each do |locale| %>
              <li><%= link_to locale.upcase, url_for(locale: locale), class:'nav-link' %></li>
          <% end %>
        </ul>
      </div>

      <div class="text-muted d-flex align-items-center justify-content-end ml-2">
        <p class="mb-0">&copy; <%= Time.now.year %> - ManAnime</p>
      </div>
    </div>
  </nav>
</footer>
