<footer class="fixed-bottom mt-auto">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <%= render partial: 'logo' %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-wrap">
          <%= render(partial:'active_nav_item', locals:{ border: true, title:'Home', uri: root_path }) %>
          <%= render(partial:'active_nav_item', locals:{ border: true, title:'About', uri: about_path }) %>
          <%= render(partial:'active_nav_item', locals:{ border: true, title:'Help & Rules', uri: help_and_rules_path }) %>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="text-muted d-flex align-items-center justify-content-end">
        <p class="mb-0">&copy; <%= Time.now.year %> - MangAnime</p>
      </div>
    </div>
  </nav>
</footer>
