<footer class="fixed-bottom mt-auto">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <%= render partial: 'logo' %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto flex-wrap">
          <li class="nav-item"><%= link_to 'Home', root_path, class:'nav-link border-right'%></li>
          <li class="nav-item"><%= link_to 'About', about_path, class:'nav-link border-right'%></li>
          <li class="nav-item"><%= link_to 'Help & Rules', help_and_rules_path, class:'nav-link border-right'%></li>
          <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
        </ul>
      </div>
      <div class="text-muted d-flex align-items-center justify-content-end">
        <p class="mb-0">&copy; <%= Time.now.year %> - MangAnime</p>
      </div>
    </div>
  </nav>
</footer>
